# remove config file
config.py

#remove server data read file
read_data.py

#Apple/iOS files
*.DS_Store

# Environments
venv/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

#Remove data file in CSV
Data/BTCUSDT_20170901_20210731.csv

# Add zip file
~Data/BTCUSDT_20170901_20210731.csv.zip
Data/BTC_TA.csv

# Remove Config
config.py

